/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: content-box;
	line-height: 1;
    max-width: 800px;
    padding: 5% 20% 0 20%;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 10px;
}

nav {
    max-width: 600px;
    font-size: 14px;  
    padding-right: 50px;
}

nav a:hover {
    color: lightcoral;
}

p {
    line-height: 1.4;
    margin: 15px 0;
}

/* 
==============================
flexbox
==============================
*/

.flexbetween {
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
}

/* 
===============================
button
===============================
*/

button {
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    background: white;
    margin: 20px 0;
}

button:hover {
    background: black;
    color: white;
}

/* 
===============================
headers
===============================
*/

h1, h2, h3, h4, h5 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

h1 {
    margin-bottom: 15px;
    text-align: left;
}

/* 
==============================
header
==============================
*/

header {
    margin-top: 20px;
}
header img {
    max-width: 100%;
}
header section {
    margin-bottom: 30px;
}

/* 
==============================
containers
==============================
*/

.row1 {
    border-bottom: 1px dashed black;
    padding: 20px 0;
}

.lastrow {
    border-bottom: none;
}
.col1-2 {
    max-width: 370px;
}

.col1-3 {
    max-width: 246px;
}

.textbutton {
    margin: 10px 0 0 0;
}

/* 
==============================
boxes
==============================
*/

.box {
    width: 100px;
    height: 100px;
    margin: 2.5% 2.5% 0 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:nth-child(1) {
    background: teal;
}
.box:nth-child(2) {
    background: gold;
}
.box:nth-child(3) {
    background: gold;
}
.box:nth-child(2) {
    background: cadetblue;
}
.box:nth-child(4) {
    background: coral;
}
.box:nth-child(5) {
    background: crimson;
}
.box:nth-child(6) {
    background: forestgreen;
}
.box:nth-child(7) {
    background: darkorchid;
}
.box:nth-child(8) {
    background: hotpink;
}
.box:nth-child(9) {
    background: indigo;
}
.box:nth-child(10) {
    background: dodgerblue;
}
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

/* 
==============================
footer
==============================
*/

footer {
    width: 100%;
    background: black;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
}

footer nav a {
    color: white;
}